@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Farro&family=Hammersmith+One&family=Inter&family=Josefin+Sans&family=Jost&family=Julius+Sans+One&family=Marcellus+SC&family=Montserrat&family=Playfair+Display&family=Poppins&family=Roboto&family=Syncopate&family=Unbounded&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }

  #page1>nav{
    background: #0d0c0f;
    width: 100%;
    height: auto;
    padding: 10px 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    backdrop-filter: blur(10px);
}

.logo{
    width: 50px;
    height: 45px;
}

.name{
    height: 50px;
    padding-left: 10px;
}

.user-pic{
    padding: 9px 9px;
    border-radius: 40px;
    background-color: #5fcb4b;
}

.user-pic:hover{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    padding: 10px 10px;
    background-color: white;
    border: #171616;
    border-radius: 50px;
    color: #5fcb4b;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li .about{
    padding: 9px 25px;
    background-color: #3a3838;
    border: #171616;
    border-radius: 50px;
    cursor: pointer;
    transition: #3a3838;
}
nav ul li a:hover{
    padding: 9px 25px;
    background-color: #3a3838;
    border: #171616;
    border-radius: 50px;
    cursor: pointer;
    transition: #3a3838;
}



/*a.contact{
    padding: 9px 25px;
    background-color: #3a3838;
    border: #171616;
    border-radius: 50px;
}*/

.sub-menu-wrap{
    position: absolute;
    top: 75%;
    right: 0%;
    width: 15%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    
    z-index: 1;
}

.sub-menu-wrap.open-menu{
    max-height: 450%;
    
    z-index: 1;
}

.sub-menu{
    background-color: #e5e5e5;
    padding: 5%;
    margin: 10px;
    z-index: 1;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 5px 0;
    z-index: 1;
}

.sub-menu-link p{
    width: 100%;
    z-index: 1;
}

.sub-menu-link i{
    width: 18%;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    z-index: 1;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover {
    font-weight: 600;
}


.page1-bg img{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}
.page2-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: -1%;
}
.page2{
    position: absolute;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 50vw;
    margin-top: -35%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color:#142533 ;
    z-index: 1;
}

.page2 h1{
    color:#e6b436;
    letter-spacing: 4px;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 3vw;
}

.page2 p{
    color:white;
    letter-spacing: 2px;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
}

.page3-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: -1%;
}

.page3{
    position: absolute;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 39vw;
    margin-top: -35%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color:#142533;
    z-index: 1;
}

.page3 h1{
    color:#e6b436;
    letter-spacing: 4px;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 3vw;
}

.page3 ul{
    color: white;
    letter-spacing: 4px;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 2vw;
}

.page4-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: -1%;
}

.page4{
    position: absolute;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 50vw;
    margin-top: -35%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color:#142533;
    z-index: 1;
}

.page4 h1{
    color:#e6b436;
    letter-spacing: 4px;
    margin-top: 1%;
    margin-left: 2%;
   font-size: 3vw;
}