@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Farro&family=Hammersmith+One&family=Inter&family=Josefin+Sans&family=Jost&family=Julius+Sans+One&family=Marcellus+SC&family=Montserrat&family=Playfair+Display&family=Poppins&family=Roboto&family=Syncopate&family=Unbounded&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }

#page1>nav{
    background: #0d0c0f;
    width: 100%;
    height: auto;
    padding: 10px 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    backdrop-filter: blur(10px);
}

a .logo{
    width: 40px;
    height: 45px;
}

a .name{
    height: 50px;
    padding-left: 10px;
}

.user-pic{
    padding: 9px 9px;
    border-radius: 40px;
    background-color: #5fcb4b;
}

.user-pic:hover{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    padding: 10px 10px;
    background-color: white;
    border: #171616;
    border-radius: 50px;
    color: #5fcb4b;
    transition: 0.6s;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

nav ul li a:hover{
    padding: 9px 25px;
    background-color: #3a3838;
    border: #171616;
    border-radius: 50px;
    cursor: pointer;
    transition: #3a3838;
}

a.about{
    padding: 9px 25px;
    background-color: #3a3838;
    border: #171616;
    border-radius: 50px;
}

.sub-menu-wrap{
    position: absolute;
    top: 75%;
    right: 0%;
    width: 20%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    backdrop-filter: blur(10px);
}

.sub-menu-wrap.open-menu{
    max-height: 450%;
}

.sub-menu{
    background: #fff;
    padding: 5%;
    margin: 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 5px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 18%;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover {
    font-weight: 600;
}



.page1-bg img{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}
.page2-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    height: 900px;
    margin-top: -1%;
}
.page2{
    position: absolute;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 50vw;
    margin-top: -35%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color:#142533 ;
    z-index: 1;
}

.page2 button{
    left: 86%;
    top: 5%;
    position: absolute;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: #e5e0e0;
    color: #0a3cce;
    transform: .2s linear;
    transition: 1s;
    font-size: medium;
    font-weight: 200;
    z-index: 2;
}
.page2 button:hover{
  transform: translateX(5px);
  transition:.6s ease all ;
  background-color: #525252;
  color:#e6b436;
  font-size: large;
  cursor: pointer;
}

.page2 h1{
    color:#e6b436;
    letter-spacing: 4px;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 3vw;
}

.page2 p{
    color:white;
    letter-spacing: 2px;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
}

.page3-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: -1%;
}

.page3{
    position: absolute;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 39vw;
    margin-top: -35%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color:#142533;
    z-index: 1;
}

.page3 h1{
    color:#e6b436;
    letter-spacing: 4px;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 3vw;
}

.page3 ul{
    color: white;
    letter-spacing: 4px;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 2vw;
}

.page4-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    height: 1200px;
    margin-top: -1%;
}

.page4{
    position: absolute;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 220vw;
    margin-top: -35%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color:#142533;
    z-index: 1;
}

.page4 h1{
    color:#e6b436;
    letter-spacing: 4px;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 3vw;
}

.image img{
    margin-left: 28%;
    margin-top: -27%;
   width: 50%;
   position: absolute;
   z-index: 1;
}

.image h1{
    color:white;
    letter-spacing: 2px;
    margin-top: 8.8%;
    margin-left: 27%;
    position: absolute;
    z-index: 1;
    font-size: 2vw;
}

.image p{
    color: white;
    margin-top: 13%;
    margin-left: 18%;
    margin-right: 18%;
    position: absolute;
    font-size: 1.8vw;
    z-index: 1;
}

.page5-bg{
    margin-top: -70%;
}

.page5-bg h1{
    margin-top: 11.5%;
}

.page5-bg p{
    margin-top: 16.4%;
}

.page6-bg{
    margin-top: 68%;
    height: 80%;
    color: #e6b436;
}

.page6-bg h1{
    margin-top: 14.5%;
}

.page6-bg p{
    margin-top: 19%;
}

.page7-bg{
    background-color: #06080a;
    position: relative;
    width: 100%;
    margin-top: -1%;
}